.petInfo {
    width: 250px;
    height: 250px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    width: max-content;
    color: crimson;
    font-size: 15px;
    border-bottom: 1px solid crimson;
    margin: 3px 0;
}

h5 {
    font-weight: bold;
}